.container.dark-blue {
    background: #323a45;
}
.footer-signup {
  text-align: center;
  padding: 160px 0 145px;
}
.footer-signup h2 {
  font-size: 30px;
}
.footer-signup p i {
  position: absolute;
  top: 18px;
  left: 15px;
}
.footer-signup p label {
  margin-left: 50px;
}
.footer-signup p input[type=text], .footer-signup p input[type=password] {
  width: 280px;
  height: 63px;
  padding-left: 48px;
}
@media (max-width: 1215px) {
  .footer-signup p input[type=text], .footer-signup p input[type=password] {
    width: 270px;
  }
  .footer-signup p button[type=submit] {
    padding: 20px;
  }
}
@media (max-width: 1145px) {
  .footer-signup p input[type=text], .footer-signup p input[type=password] {
    width: 230px;
  }
}

.container .inside {
    *zoom: 1;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    clear: both;
}

.container.dark-blue h1, .container.dark-blue h2, .container.dark-blue h3, .container.dark-blue h4, .container.dark-blue h5 {
    color: white;
}

form {
    display: inline-block;
    margin-bottom: 31px;
}

.button a, p.button input, p.button button {
    display: inline-block;
    padding: 21px 40px 19px;
    background: #ff3366;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 1em;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.signup-form-wrapper button, .hero-signup-wrapper button {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 62px;
    line-height: 62px;
    margin-top: 1px;
}